
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Hello World!
      </h1>

      <p>
        This is my first gov.uk prototype!
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/start">Apply for a juggling licence</a>
        </li>
        <li>
          <a href="/start">Why you need a juggling licence</a>
        </li>
        <li>
          <a href="/start">How to spot a fake clown</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
